version: '3.8'

services:
  discord-bot:
    build: .
    container_name: my_gdnb_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./data:/app/data  # 關鍵：將本地的 data 資料夾同步到容器，確保 JSON 不會消失